# This is a basic workflow to help you get started with Actions

name: Matrix test

# Controls when the workflow will run
on:
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  matrix_versions:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [10, 12, 14]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo ${{ matrix.version }}
        
      # Runs a single command using the runners shell
      - name: Exit 1 on version 12
        run: |
          if [[ "${{ matrix.version }}" == "12" ]]; then
            exit 1
          else
            exit 0
          fi

  output_status:
    runs-on: ubuntu-latest
    needs: [matrix_versions]
    
    steps:
      - name: Dump GitHub context
        id: github_context_step
        run: echo '${{ toJSON(github) }}'
      - name: Dump job context
        run: echo '${{ toJSON(job) }}'
      - name: Dump steps context
        run: echo '${{ toJSON(steps) }}'
      - name: Dump runner context
        run: echo '${{ toJSON(runner) }}'
      - name: Dump strategy context
        run: echo '${{ toJSON(strategy) }}'
      - name: Dump matrix context
        run: echo '${{ toJSON(matrix) }}'
      - name: Dump Other job
        id: github_job_context_step
        run: echo '${{ toJSON(needs.matrix_versions) }}'
